/*ESTILOS GENERALES*/

body {
    font-family: 'Montserrat', sans-serif;
}

/* // ESTILOS GENERALES*/

/* ESTILOS HOME */

#home .home-texto_principal {
    font-size: 1.5em;
}
#home .home-texto_secundario {
    font-size: 1.3em;
    color: #542f8c;
}
#home .home-texto_principal h1 {
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    font-size: 2.5em;
}
#home .home-texto_principal p, #home .home-texto_secundario p {
    text-transform: uppercase;
    line-height: 1;
}
#home .home-texto_principal p span, #home .home-texto_secundario p span {
    font-weight: 700;
}
#home .home-texto_secundario .home-texto_secundario-pequeño {
    font-size: 0.6em;
}

/* // ESTILOS HOME */

/* ESTILOS CLIENTES*/

#clientes .clientes-titulo {
    text-transform: uppercase;
    color: #542f8c;
    font-size: 1.5em;
}
#clientes .clientes-titulo span{
    font-weight: 700;
}
#clientes .clientes-titulo .clientes-titulo-mas_grande {
    font-size: 2em;
}
#clientes img {
    width: 100px;
    opacity: 0.5;
}
#clientes img:hover {
    opacity: 1;
}
/* // ESTILOS CLIENTES*/

/* ESTILOS APPS PARA TODOS */

#apps_para_todos .apps_para_todos-titulo_principal {
    text-transform: uppercase;
    font-weight: 700;
}
#apps_para_todos .apps_para_todos-titulo_principal .primer_titulo {
    font-size: 2.5em;
}
#apps_para_todos .apps_para_todos-titulo_principal .segundo_titulo {
    font-size: 1.5em;
}
#apps_para_todos .apps_para_todos-imagen, #apps_para_todos .apps_para_todos-texto {
    width: 50%;
    float: left;
    margin: 10px auto;
}
#apps_para_todos .apps_para_todos-texto h5 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1em;
}
#apps_para_todos .apps_para_todos-texto .apps_para_todos-icono {
    text-align: right;
    position: relative;
}
#apps_para_todos .apps_para_todos-texto .apps_para_todos-icono:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    border-top: 1px solid #542f8c;
    background: #542f8c;
    width: calc(100% - 50px);
    transform: translateY(-50%);
}
/* // ESTILOS APPS PARA TODOS */