/*ESTILOS GENERALES*/

body {
    font-family: 'Montserrat', sans-serif;
}

/* // ESTILOS GENERALES*/

/* ESTILOS HOME */

#home .home-texto_principal {
    font-size: 1.5em;
}
#home .home-texto_secundario {
    font-size: 1.3em;
    color: #542f8c;
}
#home .home-texto_principal h1 {
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    font-size: 2.5em;
}
#home .home-texto_principal p, #home .home-texto_secundario p {
    text-transform: uppercase;
    line-height: 1;
}
#home .home-texto_principal p span, #home .home-texto_secundario p span {
    font-weight: 700;
}
#home .home-texto_secundario .home-texto_secundario-pequeño {
    font-size: 0.6em;
}

/* // ESTILOS HOME */

/* ESTILOS CLIENTES*/

#clientes .clientes-titulo {
    text-transform: uppercase;
    color: #542f8c;
    font-size: 1.5em;
}
#clientes .clientes-titulo span{
    font-weight: 700;
}
#clientes .clientes-titulo .clientes-titulo-mas_grande {
    font-size: 2em;
}
#clientes img {
    width: 100px;
    opacity: 0.5;
}
#clientes img:hover {
    opacity: 1;
}
/* // ESTILOS CLIENTES*/

/* ESTILOS APPS PARA TODOS */

#apps_para_todos .apps_para_todos-titulo_principal {
    text-transform: uppercase;
    font-weight: 700;
}
#apps_para_todos .apps_para_todos-titulo_principal .primer_titulo {
    font-size: 2.5em;
}
#apps_para_todos .apps_para_todos-titulo_principal .segundo_titulo {
    font-size: 1.5em;
}
#apps_para_todos .apps_para_todos-imagen, #apps_para_todos .apps_para_todos-texto {
    width: 50%;
    float: left;
    margin: 10px auto;
}
#apps_para_todos .apps_para_todos-texto h5 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1em;
}
#apps_para_todos .apps_para_todos-texto .apps_para_todos-icono {
    text-align: right;
    position: relative;
}
#apps_para_todos .apps_para_todos-texto .apps_para_todos-icono:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    border-top: 1px solid #542f8c;
    background: #542f8c;
    width: calc(100% - 50px);
    transform: translateY(-50%);
}
/* // ESTILOS APPS PARA TODOS */




/* ESTILOS CONTACTO*/
#contacto {
    margin-top: 2em;
    background:#a33bd8;
}



#contacto .contacto-titulo_primera_linea {
    font-weight: bold;
    font-size: 2.5em;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-bottom: 0;

}

#contacto .contacto-subtitulo{
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;   
}

#contacto .contacto-icono_telefono {
    height: 2em;
    margin-right: 1em;
}

#contacto .contacto-icono_correo {
    height: 2em;
    margin-right: 1em;
    
}

#contacto .contacto-info_telefono {
    margin-bottom: 0.5em;
    width: 20em;
    margin-top: 3.5em;
}

#contacto .contacto-info_correo {
    width: 20em;
}


#contacto .contacto-telefono {
    color: white;
    
}


#contacto .contacto-correo {
    color: white;
}

#contacto .contacto-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-top: 5em;
}

#contacto .contact-form {
    margin-top: 5em;
}

#contacto .contacto-form_input{
    width: 20rem;
    margin-left: 3rem;
    resize: none;
}

#contacto .contacto-form_row {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;

}


#contacto .contacto-form_label {
    font-size: 0.8em;
    color: white;
    width: 4em;
    display: flex;
    margin-top:0.5em;
    text-align: center;
}

#contacto .contacto-boton_de_envio {
    font-size: 0.7em;
    border-radius: 7px;
    border: none;
    left: 1px;
    background-color: #6a2099;
    color: white;
    float: right;
}

#contacto .contacto-boton-row{
    display: flex;
    width: 77%;
    justify-content: flex-end;
}